body {
    margin:0;
    padding:1em;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2em;
}

h2#listDescription {
    margin:0 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding:1em 0 0;
    background-color: #999999;
    text-align: center;
    font-size:1em;
}

div.pagination {
    margin:0 2em;
    padding:1em 0;
    background-color: #999999;
    text-align: center;
}

div.pagination.bottom {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

span.gameCount {
    padding: 0 3em;
}

table#gameDataTable {
    margin:0 2em;
    padding:0 1.0em;
    background-color: #999999;
}

table#gameDataTable tr:nth-child(even) {
    background-color: #cccccc;
}

table#gameDataTable td {
    margin:0;
    border-bottom: 1px solid #999999;
    padding:0.5em 1.0em;
    background-color: #ffffff;
}

table#gameDataTable tr:nth-child(even) td {
    background-color: #dddddd;
}

table#gameDataTable td:first-child {
    text-align: right;
    vertical-align: top;
}

table#gameDataTable td.noImage {
    font-size:0.8em;
    font-style: italic;
    color:#999999;
    vertical-align: middle;
}

table#gameDataTable td img {
    border:2px solid #000000;
}

table#gameDataTable td h3 {
    margin-top:0;
}

table#gameDataTable td.people {
    font-size:1.25em;
    vertical-align: top;
}

table#gameDataTable td.people span.publisherList {
    padding:0 .25em;
    background-color: #999999;
    color:darkblue;
    cursor: help;
    display: inline-block;
    font-size:0.8em;
}